:root {
    --body: rgb(99, 186, 186);
    --wire-frame: 1px solid red;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 30%;
    margin: 2rem auto;

    &__top {
        padding: 1.7rem 0;
        border-radius: 8px 8px 0 0px;
        background: var(--body);
    }
    &__bottom {
        padding: .5rem .4rem;
        background: rgba(0, 0, 0,.02);
        border-radius: 0 0 8px 8px;
        box-shadow:
        0 4.5px 3.6px rgba(0, 0, 0, 0.024),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 30.1px 24.1px rgba(0, 0, 0, 0.046),
        0 60px 40px rgba(0, 0, 0, 0.07);
    
        .card {
            padding: 0 1rem;
            
            button {
                background: transparent;
                border: none;
                padding: .6rem 1.2rem;
                outline: none;
                cursor: pointer;
                font-size: .6rem;
            }
            button:hover, button:focus {
                background: rgba(0, 0, 0, .2);
            }

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: .4rem;
                font-size: .4rem;
                background: rgb(226, 226, 226);
                padding-left: 1rem;
            }

            p {
                display: none;
                font-size: .25rem;
                line-height: 14px;
                padding: 10px 0;
            }
        }
        .card + .card {
            margin-top: 1.7rem;
        }
    }
}
.solo p {
    display: block !important;
    width: 80%;
    margin: 0 auto;
}
@media(max-width:1024px) {
    .container {
        max-width: 45% !important;
    }
    p {
        font-size: 10px !important;
    }
}
@media(max-width:500px) {
    .container {
        margin: 6rem auto !important;
        max-width: 65% !important;
    }
    p {
        font-weight: 400;
        line-height: 2rem;
    }
    
    button {
        padding: .4rem 1rem;
        font-size: .4rem;
    }

}